*.zip
*.rar
*.via
*.tmp
*.err
*.pyc
*~
.*.swp
*.elc
.emacs.backup
.evernote-mode.log
/.evernote-mode/
/.gem/
.gitconfig
/.ssh/
/.w3m/
BUGS
BUGS
README.W32
_viminfo
/bin/
/etc/
/info/
/leim/
/lisp/
/site-lisp/
/w3m/
\#*\#
.emacs-places
.history
